<!DOCTYPE html>
<html>
  <head>
    <title>sorry</title>
    <style>
      html,body {
        margin: 0px;
        background-color: #a1cfe6;
      }
      #content {
        width: 600px;
        margin: 50px auto 0 auto;;
      }
      h1 {
        border-bottom: 2px dashed;
      }
      p {
       font-size: 30px;
       font-style: italic;
      }
    </style>
  </head>
  <body>
    <div id="content">
      <h1>sorry...</h1>
      <p><%= @host %> is dead</p>
    </div>
  </body>
</html>
